<div class="d-flex justify-content-between align-items-center mb-4">
  <h2>Eventos</h2>

  <a routerLink="/create" class="btn btn-primary">
    + Novo Evento
  </a>
</div>

<div class="row">
  <div class="col-md-4" *ngFor="let event of events">
    <div class="card shadow-sm p-4 mb-4">

      <h5 class="fw-bold mb-2">{{ event.title }}</h5>

      <p class="text-muted mb-3">
        {{ event.description || 'Sem descrição' }}
      </p>

      <div class="mb-3">
        <small>📅 {{ event.date }}</small><br>
        <small>⏰ {{ event.time }}</small><br>
        <small>📍 {{ event.location }}</small>
      </div>

      <div class="d-flex justify-content-between">
        <button [routerLink]="['/event', event.id]" class="btn btn-outline-primary btn-sm">
          Ver
        </button>

        <button [routerLink]="['/edit', event.id]" class="btn btn-outline-secondary btn-sm">
          Editar
        </button>

        <button (click)="deleteEvent(event.id)" class="btn btn-outline-danger btn-sm">
          Excluir
        </button>
      </div>

    </div>
  </div>
</div>

<div *ngIf="events.length === 0" class="text-center text-muted mt-5">
  <h5>Nenhum evento cadastrado</h5>
</div>