/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Fundo */
body {
    background: #eef1f5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Container */
.container {
    background: #ffffff;
    padding: 25px 30px;
    border-radius: 12px;
    border: 1px solid #e2e8f0;
    width: 100%;
    max-width: 500px;
}

/* Título */
.container h2 {
    text-align: left;
    margin-bottom: 20px;
    color: #1e293b;
    font-size: 20px;
    font-weight: 600;
}

/* Labels */
label {
    font-size: 13px;
    font-weight: 500;
    color: #475569;
    margin-bottom: 4px;
    display: block;
}

/* Inputs */
input,
textarea {
    width: 100%;
    padding: 9px 10px;
    margin-bottom: 12px;
    border: 1px solid #cbd5e1;
    border-radius: 6px;
    font-size: 13px;
    background: #f8fafc;
    transition: border 0.2s;
}

/* Focus */
input:focus,
textarea:focus {
    outline: none;
    border-color: #3b82f6;
    background: #ffffff;
}

/* Textarea */
textarea {
    resize: vertical;
}

/* Botões */
.button-group {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

/* Botão principal */
input[type="submit"] {
    flex: 1;
    padding: 10px;
    background: #1D4ED8;
    color: #fff;
    border-radius: 6px;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    transition: background 0.2s;
}

input[type="submit"]:hover {
        background: #0834ad;

}

/* Botão secundário */
input[type="reset"] {
    flex: 1;
    padding: 10px;
    background: #e2e8f0;
    color: #334155;
    border-radius: 6px;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
    border: none;
}

input[type="reset"]:hover {
    background: #cbd5e1;
}